.top-wrapp {
    padding-bottom: 10px;
}

.btnBiography {
    padding: 0px;
    height: 38px;
}

.pageHeader {
    padding: 85px;
}

.pageDetailsPadding {
    padding:  30px;
}

.pageAdvPadding {
    padding-top: 30px;
}

.navPadding {
    margin-left: 30px;
    padding-top: 20px
}


.box {
  position: relative;
    border-radius: 3px;
    /* background: #ffffff; */
    background: #F6F6F6;
    border-top: 3px solid lightblue;
    /* border-top: 3px solid lightblue; */
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(219, 184, 184, 0.3);
}

.searchField {
  border: 0.2px solid lightgray; 
  margin-left: 5px;
}

.searchContent {
  text-align: right;
}

.thBorder {
  border-bottom: 1px solid lightblue
}

.membersSearch{
  text-align: right;
  margin-top: -33px;
}

.membersSelect {
  text-align: right;
  width: 150px
}

.membersPading {
  padding-top: 10px;
  padding-bottom: 10px;
}

.membersBorder {
  border-bottom: 1px solid lightblue;
  border-top: 1px solid lightblue;
  cursor: pointer;
}